<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello Page</title>
  <script>
    window.onload = function () {
      const now = new Date();
      const dateTimeString = now.toLocaleString(); // e.g., "7/10/2025, 3:45:00 PM"
      document.getElementById('datetime').textContent = dateTimeString;
    };
  </script>
</head>
<body>
  <h1>Hello Manatal!</h1>
  <p>Current date and time: <span id="datetime"></span></p>

  <br>

  {% if query_token %}
  <div><h2>Cloudfront test query: {{query_token}}</h2></div>
  {% endif %}
</body>
</html>
