<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello Page</title>
  <script>
    function updateDateTime() {
      const now = new Date();
      const dateTimeString = now.toLocaleString(); // Shows both date and time
      document.getElementById('datetime').textContent = dateTimeString;
    }

    // Update every second
    setInterval(updateDateTime, 1000);
    window.onload = updateDateTime;
  </script>
</head>
<body>
  <h1>Hello Manatal!</h1>
  <p>Current date and time: <span id="datetime"></span></p>

  <br>

  {% if query_token %}
  <div><h2>Cloudfront test query: {{query_token}}</h2></div>
  {% endif %}
</body>
</html>
